.speech{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: black ;
}
.name{
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    color:black;
}
.stage-direction{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: lightskyblue;

}
.stage-direction:hover{
    /* background-color: limegreen; */
    color: red;
    background-color:lightgoldenrodyellow ;
}
.PRINCE-HENRY{
    color: #FF9933;

}
.POINS{
    color:#138808;
}
table { border: dashed 3px #FF9933 ;
    border-collapse: separate;}
    table.collapsing {
        border: solid 3px;
        border-collapse: collapse;}
 td, th {border: solid 1px ;
    text-align: center;}
    tr:nth-child(even)
{background-color:linen;}
table {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  table {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 150px;
  }
  .name:hover{
    text-shadow:2.5px 4px 5px grey ;
    margin: 10px 13em 15pt 1%;
    border-style: dashed dotted solid none; 
  }
  img{
    width:50px;
    height:50px;
    margin-left: 40px;
    border-radius: 15px;
  }
  
img:hover{
    transition: transform 2s;
    transform: scaleX(1.1);
    /* transform: rotate(360deg); */
}
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.navbar li{
    float: left;
    background: rgb(61, 141, 61);
}
.navbar a{
    text-decoration: none;
    display: block;
    padding: 10px;
    color: white;
}

.navbar a:hover{
    background-color: white;
    color: black;
    font-weight: bolder;
    border-radius: 2px;
}
.background{
    background-image: url("London.jpg");
    color: white;
}