.speech{
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    color: black ;
}
.name{
    font-size: large;
    font-family: Verdana, Tahoma, sans-serif;
    color:black;
}
.stage-direction{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    background-color: lightskyblue;

}
.stage-direction:hover{
    /* background-color: limegreen; */
    color: red;
    background-color:lightgoldenrodyellow ;
}
.PRINCE-HENRY{
    color: #FF9933;

}
.POINS{
    color:#138808;
}
table { border: dashed 3px #FF9933 ;
    border-collapse: separate;}
    table.collapsing {
        border: solid 3px;
        border-collapse: collapse;}
 td, th {border: solid 1px ;
    text-align: center;}
    tr:nth-child(even)
{background-color:linen;}
table {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  table {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 150px;
  }